<?xml version="1.0" encoding="utf-8"?>
<manifest package="mg.yvan.truth"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".TruthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="mg.yvan.truth.provider.BibleContentProvider"
            android:authorities="mg.yvan.truth.provider"/>
    </application>

</manifest>